/* Table of Contents */
/*
1. Button Styles
2. Filled Button Styles
3. Clear Button Styles
*/

/* 1. Button Styles */
.btn-confirmation {
    font-family: 'Alkatra', cursive;
    font-weight: bold;
    min-width: 80px;
    height: 36px;
    padding: 0 8px;
    border-radius: 13px;
    border: 2px solid var(--color-dark-green);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

/* 2. Filled Button Styles */
.btn-filled {
    background-color: var(--color-dark-green);
    color: var(--color-white);
}

/* 3. Clear Button Styles */
.btn-clear {
    background: none;
    color: var(--color-dark-green);
}