/* Table of Contents */
/*
1. Popup
*/

/* 1. Popup */
.error-popup {
    background-color: var(--color-white);
    padding: 24px;
    font-weight: bold;
    border-radius: 13px;
    max-width: 288px;
    max-height: 75vh;
    overflow-y: scroll;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
