/* Table of Contents */
/*
1. Recipe Card
2. Recipe Image
3. Recipe Card Information
4. Recipe Data
5. Media queries
*/

/* 1. Recipe Card */
.recipe-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 340px;
    height: 300px;
    background: var(--color-white);
    border-radius: 24px;
    flex-grow: 0;
    flex-shrink: 0;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
}

.recipe-card:hover {
    cursor: pointer;
}

/* 2. Recipe Image */
.recipe-image-container {
    position: relative;
    width: 100%;
    height: 60%;
    overflow: hidden;
    border-radius: 24px 24px 0 0;
}

.recipe-image-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

/* 3. Recipe Card Information */
.recipe-card-information {
    width: 100%;
    height: 40%;
    padding: 12px 24px 20px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipe-card-information h4 {
    font-size: 17px;
    text-align: left;
}

/* 4. Recipe Data */
#recipe-data {
    display: flex;
    justify-content: space-between;
}

.recipe-data-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    max-height: 16px;
    font-size: 12px;
    font-weight: bold;
}

.recipe-data-block svg {
    max-height: 100%;
    width: auto;
}

/* 5. Media queries */
@media screen and (max-width: 600px) {
    .recipe-card {
        max-width: 292px;
    }
}
