/* ----------- Pantry page ----------- */
#pantry-overview {
    gap: 50px;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.dashboard {
    align-self: flex-start;
}

.dashboard input {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.dashboard select {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

/* ----------- Dashboard Status overview ----------- */
#expiry-overview {
    display: flex;
    justify-content: space-around;
    margin: 14px 0;
}

/* ----------- Dashboard Add Item ----------- */
#pantry-add-item-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: flex-start;
    margin: 14px 0;
}

#input-name {
    border: 2px solid var(--color-dark-green);
    width: 100%;
}

#input-name.show {
    border-radius: 13px 13px 0 0;
    border-bottom: none;
}

#form-amount-information {
    display: flex;
    justify-content: space-between;
    gap: 6px;
}

#form-amount-information input {
    max-width: 125px;
}

#form-handler-buttons {
    display: flex;
    justify-content: space-around;
}

#check-no-expiry {
    display: flex;
    gap: 16px;
}

#input-unit {
    max-width: 100px;
}

#input-date::-webkit-calendar-picker-indicator {
    background-image: url('../../assets/icon-date.svg');
}

#input-date::-webkit-calendar-picker-indicator path {
    fill: var(--color-dark-green);
}

/* ----------- Pantry ingredients overview ----------- */
#ingredients-overview {
    position: relative;
    display: flex;
    align-self: flex-start;
    flex: 0 1 100%;
    flex-wrap: wrap;
    gap: 20px;
    height: 85vh;
    padding-bottom: 50px;
    overflow-y: scroll;
}

/* ----------- Suggestions ----------- */
.input-wrapper {
    position: relative;
}

.suggestion-popout {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--color-white);
    border: 2px solid var(--color-dark-green);
    border-radius: 0 0 13px 13px;
    border-top-width: 0;
    z-index: 1;
}

.suggestion-item {
    font-family: 'Alkatra', cursive;
    text-align: left;
    color: var(--color-dark-green);
    opacity: 75%;
    padding: 8px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: var(--color-light-green);
    border-radius: 13px;
}

.suggestion-divider {
    height: 1px;
    background: var(--color-dark-green);
    opacity: 15%;
    width: 90%;
    align-self: center;
}