.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.popup {
    background-color: var(--color-white);
    padding: 24px;
    font-weight: bold;
    border-radius: 13px;
    max-width: 288px;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 20px;
}