.information-tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.information-tag h4 {
    font-family: 'Alkatra', cursive;
    font-size: 18px;
    color: var(--color-dark-green);
}

#expiry-tile {
    font-weight: bold;
    font-size: 24px;
    padding: 10px 23px;
    background-color: var(--color-white);
    border: 2px solid var(--color-dark-green);
    border-radius: 13px;
    width: 44px;
    height: 44px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}