

/* -------------- LOGO -------------*/
.app-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 30px;
    height: 30px;
}

.app-logo h2 {
    font-family: 'Alkatra', cursive;
    font-weight: bold;
    font-size: 20px;
    color: var(--color-black);
}

/* -------------- NAVIGATION -------------*/
.page-link-list {
    display: flex;
    gap: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.default-menu-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 2px;
    width: 0;
    height: 2px;
    background-color: var(--color-black);
    border-radius: 1px;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.active-menu-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 2px;
    width: 100%;
    height: 2px;
    background-color: var(--color-black);
    border-radius: 1px;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.page-link {
    font-family: 'Alkatra', cursive;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: var(--color-black);
    position: relative;
}

.navigation-bar {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 0 50px;
    background: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    list-style: none;
}