/* -------- Wrapper -------- */
.shopping-item {
    position: relative;
    width: 98%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    font-size: 24px;
    font-weight: bold;
    padding: 24px 40px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    background-color: var(--color-white);
}


/* -------- Name -------- */
#shopping-item-name {
    position: absolute;
    color: var(--color-black);
    left: 40px;
    display: flex;
    align-items: center;
    gap: 40px;
}

/* -------- Buttons -------- */
#shopping-item-buttons {
    position: absolute;
    left: 35%;
}

.list-item-button {
    background: none;
    border: none;
    border-radius: 5px;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.list-item-button svg {
    width: 24px;
    height: 24px;
    fill: black;
}

/* -------- Amount -------- */
#shopping-item-amount {
    color: var(--color-dark-green);
    opacity: 50%;
    display: flex;
    gap: 8px;
}

/* -------- Functionality -------- */
.shopping-item .hidden-element {
    display: none;
}

.shopping-item:hover .hidden-element {
    display: block;
}

.shopping-item-name-unchecked::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 4px;
    background-color: var(--color-black);
    border-radius: 2px;
    transition: width 0.3s ease;
}

.shopping-item-name-checked::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 4px;
    background-color: var(--color-black);
    border-radius: 2px;
    transition: width 0.3s ease;
}

.checked {
    background-color: #E8E5E3;
}

