.lbl-checkbox {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.lbl-checkbox input[type='checkbox'] {
    display: none;
}

.lbl-checkbox .checkmark {
    width: 15px;
    height: 15px;
    border: 2px solid var(--color-dark-green);
    border-radius: 3px;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lbl-checkbox input[type='checkbox']:checked + .checkmark {
    background-color: var(--color-dark-green);
}

.lbl-checkbox input[type='checkbox']:checked + .checkmark .checkmark-icon {
    fill: var(--color-white);
}

.large {
    min-width: 24px;
    min-height: 24px;
}