/* Table of Contents */
/*
1. Base dashboard
2. Dashboard Headings
3. Dashboard Spans
4. Divider
5. Visibility toggle
6. Media queries
*/

/* 1. Base dashboard */
.dashboard {
    position: relative;
    overflow-y: scroll;
    align-self: flex-start;
    height: fit-content;
    max-height: 75vh;
    min-width: 288px;
    padding: 24px;
    border: 2px solid var(--color-dark-green);
    border-radius: 24px;
    background-color: var(--color-beige);
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
}

/* 2. Dashboard Headings */
.dashboard h3 {
    font-family: 'Alkatra', cursive;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-dark-green);
}


.dashboard input,
.dashboard select {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

/* 3. Dashboard Spans */
.dashboard span {
    font-family: 'Alkatra', cursive;
    font-weight: bold;
    color: var(--color-dark-green);
}

/* 4. Divider */
.divider {
    border-radius: 2px;
    height: 4px;
    margin: 16px 0;
    background-color: var(--color-dark-green);
}

/* 5. Visibility toggle */
.btn-toggle-visibility {
    display: none;
    width: 28px;
    position: absolute;
    left: 12px;
    top: 1px;
}

.btn-toggle-visibility svg {
    fill: var(--color-dark-green);
}

/* 6. Media queries */
@media screen and (max-width: 600px) {
    .dashboard {
        align-self: center;
    }

    .btn-toggle-visibility {
        display: block;
    }
}