/* Table of Contents */
/*
1. Base page container
2. Page navigation
3. Search bar
4. Title
5. Search icon
6. Media queries
*/

/* 1. Base page container */
.page-container {
    width: 100%;
    align-items: flex-start;
}

.page-container::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(228, 239, 231, 0) 0%, rgba(228, 239, 231, 1) 100%);
}

.background-image {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: auto;
    left: -186px;
    top: -296px;
}

.background-image path {
    fill: var(--color-dark-green);
    fill-opacity: 10%;
}

/* 2. Page navigation */
#page-navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 10px 25px;
    width: 100%;
}

/* 3. Search bar */
.search-bar-container {
    position: relative;
    display: flex;
    max-width: 360px;
    flex: 1;
    align-items: center;
}

.search-bar {
    width: 100%;
    height: 44px;
    padding: 7px 7px 7px 40px;
    font-family: "Alkatra", cursive;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid var(--color-dark-green);
    border-radius: 13px;
    background-color: var(--color-white);
    color: var(--color-dark-green);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

/* 4. Title */
.title {
    font-family: "Alkatra", cursive;
    font-weight: bold;
    font-size: 50px;
    color: var(--color-dark-green);
    position: relative;
}

.title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 12px;
    width: 100%;
    height: 4px;
    background-color: var(--color-dark-green);
    border-radius: 2px;
}

/* 5. Search icon */
.search-icon {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 20px;
    fill: var(--color-dark-green);
}

/* 6. Media queries */
@media screen and (max-width: 600px) {
    #page-navigation {
        margin: 10px 0;
        justify-content: center;
    }

    .title {
        display: none;
    }

    .balancer {
        display: none;
    }

    .background-image {
        display: none;
    }
}