.page-container {
    align-items: flex-start;
    width: 100%;
}

.page-container::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    background: linear-gradient(to bottom, rgba(228, 239, 231, 0) 0%, rgba(228, 239, 231, 1) 100%);
    z-index: 1;
}

.search-bar-container {
    position: absolute;
    right: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    max-width: 360px;
    align-items: center;
}

.search-bar {
    border: 1px solid var(--color-dark-green);
    background-color: var(--color-white);
    color: var(--color-dark-green);
    border-radius: 13px;
    width: 360px;
    height: 44px;
    padding: 7px 7px 7px 40px;
    font-family: 'Alkatra', cursive;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.search-icon {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 20px;
    fill: var(--color-dark-green);
}

#page-navigation {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 10px 25px;
    width: 100%;
}

.title {
    font-family: 'Alkatra', cursive;
    font-weight: bold;
    font-size: 50px;
    color: var(--color-dark-green);
    position: relative;
}

.title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 12px;
    width: 100%;
    height: 4px;
    background-color: var(--color-dark-green);
    border-radius: 2px;
}