/* Table of Contents */
/*
1. Shopping List Overview
2. List Items Overview
3. Shopping Add Item Form
4. Input Name
5. Form Amount Information
6. Form Handler Buttons
7. Input Unit
8. Type Title
9. Media queries
*/

/* 1. Shopping List Overview */
#shoppinglist-overview {
    width: 100%;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 50px;
}

/* 2. List Items Overview */
#list-items-overview {
    width: 100%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
    gap: 12px;
    height: 85vh;
    padding-bottom: 80px;
    overflow-y: scroll;
}

/* 3. Shopping Add Item Form */
#shopping-add-item-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: flex-start;
    margin: 14px 0;
}

/* 4. Input Name */
#input-name {
    width: 100%;
    border: 2px solid var(--color-dark-green);
}

#input-name.show {
    border-radius: 13px 13px 0 0;
    border-bottom: none;
}

/* 5. Form Amount Information */
#form-amount-information {
    display: flex;
    justify-content: space-between;
    gap: 6px;
}

#form-amount-information input {
    max-width: 125px;
}

/* 6. Form Handler Buttons */
#form-handler-buttons {
    display: flex;
    justify-content: space-around;
}

/* 7. Input Unit */
#input-unit {
    max-width: 100px;
}

/* 8. Type Title */
.type-title {
    font-family: 'Alkatra', cursive;
    font-weight: bold;
    font-size: 25px;
    color: var(--color-dark-green);
    position: relative;
    align-self: flex-start;
}

.type-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 100%;
    height: 2px;
    background-color: var(--color-dark-green);
    border-radius: 1px;
}

/* 9. Media queries */
@media screen and (max-width: 600px) {
    #shoppinglist-overview {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

    #list-items-overview {
        padding-bottom: 60px;
        max-height: 80vh;
    }
}