@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
        1.1 Color Variables
        1.2 Input items
        1.3 Animations
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Specific
    4. Areas
        4.1 Header
            4.1.1 Navigation Bar
            4.1.2 Hero Section
        4.2 Main
        4.3 Footer
        4.4 Body
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
}

::-webkit-scrollbar {
    display: none;
}

::placeholder {
    color: rgba(6, 68, 32, 0.5);
}

/* ---------------------- 1.1 Color variables ----------------------- */
:root {
    --color-dark-green: #064420;
    --color-light-green: #E4EFE7;
    --color-beige: #FAF1E6;
    --color-white: #FDFAF6;
    --color-orange: #FD6A00;
    --color-red: #A01111;
    --color-black: #191A19;
}

/* ---------------------- 1.2 Input items ----------------------- */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus {
    outline: none;
}

.dashboard input[type="text"],
input[type="number"],
input[type="date"],
select {
    font-family: 'Alkatra', cursive;
    font-size: 18px;
    font-weight: bold;
    height: 36px;
    padding: 0 12px;
    border-radius: 13px;
    border: 2px solid var(--color-dark-green);
    color: var(--color-dark-green);
}

::-webkit-calendar-picker-indicator {
    background-image: url('./assets/icon-date.svg');
}

::-webkit-calendar-picker-indicator path {
    fill: var(--color-dark-green);
}

/* ---------------------- 1.3 Animations ----------------------- */
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */
/* ---------------------- 3.1 Reusables ----------------------- */
.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 50px;
}

.inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex : 1 1;
    flex-wrap: wrap;
}
/* ---------------------- 3.2 Specific ------------------------ */
.error-wrapper {
    position: relative;
}

.error-message {
    position: absolute;
    top: -12px;
    left: 12px;
    align-self: flex-start;
    justify-self: flex-start;
    font-weight: bold;
    font-size: 10px;
    color: var(--color-red);
}

/* ------------------------------- 4. Areas ---------------------------------------- */
/* ---------------------- 4.1 Header -------------------------- */
/* --------------- 4.1.1 Navigation Bar ---------------- */
/* --------------- 4.1.2 Hero Section ------------------ */
/* ---------------------- 4.2 Main ---------------------------- */

/* ---------------------- 4.3 Footer -------------------------- */

/* ---------------------- 4.4 Body -------------------------- */
body {
    background-color: var(--color-light-green);
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.background-image {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: auto;
    left: -186px;
    top: -296px;
}

.background-image path {
    fill: var(--color-dark-green);
    fill-opacity: 10%;
}

/* ------------------------------- 5. Media Queries -------------------------------- */

@media screen and (max-width: 1200px) {

}